# Application
BT_APP_NAME=backend-toolkit
BT_ENVIRONMENT=local
BT_DEBUG=false

# Logging
BT_LOG_LEVEL=INFO
BT_LOG_JSON=true

# Mongo Configs (Optional - if you use MongoDB)
# change 'service' with your exact project(service, db, collection & etc) name
BT_MONGO_LOG_ENABLED=true
BT_MONGO_URI=mongodb://user:pass@host:27017
BT_MONGO_DB=service-db_logs
BT_MONGO_COLLECTION=service_logs